.main-calendar {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #F2F5F7;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header{
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 50px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px 0px #0000001A;

}

header .header-logo{
  display: flex;
  align-items: center;
}

.header-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .header-btn .today-btn{
  width: 60px;
  height: 36px;
  color: #FFFFFF;
}

header .header-btn .update-btn{
  width: 36px;
  height: 36px;
}

header .header-user-info{
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 50px;
}

.header-user-info .switch-option{
  z-index: 1200;
}

header .header-user-info .user-profile{
  display: flex;
}

nav{
  width: 17%;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(5, 15%);
  padding: 20px 10px 0 50px;
}

nav .create-btn{
  color: #FFFFFF;
  width: 100%;
  height: 50px;
  margin-bottom: 0;
  grid-row: 1/2;
}

nav .update-datepicker{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  position: relative;
  z-index: 1600;
  grid-row: 3/4;
  margin-top: -210px;
  /* --rdp-day-width: 45px;
  --rdp-day-height: 40px;
  --rdp-day_button-width: 40px;
  --rdp-day_button-height: 40px; */
}

nav .update-datepicker .rdp-nav{
  padding: 0;
}

nav .user-calendars{
  width: 100%;
  height: 200px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px 0px #0000001A;
  border-radius: 8px;
  padding: 0 10px 10px;
  grid-row: 4/5;
  box-sizing: border-box;
  position: relative;
}

.calendar-container{
  display: flex;
  width: 100%;
}

.calendar-container .title-user-calendars{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.calendar-container .title-user-calendars button{
  background-color: inherit;
  border: none;
  font-size: 20px;
  padding-right: 10px;
  cursor: pointer;
}

.calendar-container .calendar-item{
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.calendar-container .calendar-item:hover{
  background-color: #F6F7F8;
}

.calendar-container .calendar-item button{
  border: none;
  background-color: inherit;
}

.calendar-container .calendar-actions {
  display: none;
  align-items: center;
}

.calendar-container .calendar-item:hover .calendar-actions {
  display: flex;
}

main{
  width: 85%;
  height: 90vh;
  overflow-y: scroll;
}

