.calendar-modal-overlay {
  position: fixed;
  top: 60%;
  left: 3%;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  width: 300px;
  height: 325px;
  box-sizing: border-box;
}

.calendar-modal-overlay h5{
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  margin-bottom: -9px;
}

.calendar-modal-overlay .input{
  width: 240px;
  background-color: transparent;
}

.calendar-modal-overlay .input-error {
  border-bottom: 2px solid #ff0000;
}

.calendar-modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

.calendar-modal-name{
  display: flex;
  align-items: center;
  gap: 10px;
}

.calendar-modal-color{
  display: flex;
  align-items: center;
  gap: 10px;
}
