.day-schedule {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  margin: 20px 50px;
  border-radius: 8px;
}

.day-schedule .day-header {
  padding: 10px 0;
  border-bottom: 1px solid #DEDFE5;
  display: flex;
  align-items: flex-start;
  flex-shrink: 1;
  box-shadow: 0px 1px 2px 0px #DEDFE5;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.day-schedule .date-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  flex-shrink: 0;
  margin: 0 55px;
  padding: 5px 50px;
}

.day-schedule .current-day {
  background-color: #DFF5E2;
  border-radius: 5px;
}

.day-schedule .day-number {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
}

.day-schedule .day-name {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.day-schedule .day-content {
  flex: 1;
  display: flex;
  overflow-y: auto;
}

.day-schedule .time-axis {
  width: 50px;
  background-color: #fff;
  border-right: 1px solid #DEDFE5;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-bottom-left-radius: 8px;
}

.day-schedule .time-label {
  height: 80px;
  text-align: right;
  padding-right: 5px;
  font-size: 12px;
  color: #323749;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.day-schedule .time-label:last-child {
  border-bottom: none;
}

.day-schedule .schedule-grid {
  flex: 1;
  position: relative;
  background-color: #fff;
  border-bottom-right-radius: 8px;
}

.day-schedule .hour-slot {
  height: 80px;
  border-bottom: 1px solid #DEDFE5;
  position: relative;
}

.day-schedule .hour-slot:last-child {
  border-bottom: none;
}