.day-schedule {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  margin: 20px 50px;
  border-radius: 8px;
}

.day-schedule .day-header {
  padding: 10px 0;
  border-bottom: 1px solid #DEDFE5;
  display: flex;
  align-items: flex-start;
  flex-shrink: 1;
  box-shadow: 0px 1px 2px 0px #DEDFE5;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-sizing: border-box;
  transition: height 0.3s ease;
  position: relative;
  z-index: 1000;
  font-weight: bold;
}

.day-schedule .day-header::after {
  content: '';
  position: absolute;
  left: 50px;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #DEDFE5;

}

.day-schedule .date-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  flex-shrink: 0;
  margin: 0 55px;
  padding: 5px 50px;
}

.day-schedule .current-day {
  background-color: #DFF5E2;
  border-radius: 5px;
}

.day-schedule .day-number {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
}

.day-schedule .day-events-summary {
  margin-top: 2px;
  max-height: none;
  overflow-y: visible;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  width: 95%;
  padding-left: 55px;
}

.day-schedule .day-event-item {
  font-size: 9px;
  padding: 2px 4px;
  border-radius: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  min-height: 16px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.day-schedule .more-events {
  font-size: 8px;
  color: #666;
  margin-top: 2px;
  padding: 1px 0;
  flex-shrink: 0;
}

.day-schedule .day-content {
  flex: 1;
  display: flex;
  overflow-y: auto;
  position: relative;
}

.day-schedule .time-axis {
  width: 50px;
  background-color: #fff;
  border-right: 1px solid #DEDFE5;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-bottom-left-radius: 8px;
}

.day-schedule .time-label {
  height: 80px;
  text-align: right;
  padding-right: 5px;
  font-size: 12px;
  color: #323749;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.day-schedule .time-label:last-child {
  border-bottom: none;
}

.day-schedule .schedule-grid {
  flex: 1;
  position: relative;
  background-color: #fff;
  border-bottom-right-radius: 8px;
}

.day-schedule .hour-slot {
  height: 80px;
  border-bottom: 1px solid #DEDFE5;
  position: relative;
}

.day-schedule .hour-slot:last-child {
  border-bottom: none;
}