.event-item {
  color: white;
  border-radius: 4px;
  font-size: 10px;
  overflow: hidden;
  cursor: pointer;
  padding: 0 2px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.event-item[style*="height: 20px"]{
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 20px;
}

.event-title {
  font-weight: 500;
  margin-bottom: 2px;
  word-wrap: break-word;
}

.event-item[style*="height: 20px"] .event-title{
  margin-bottom: 0;
  white-space: wrap;
  flex: 1;
  font-size: 13px;
}

.event-item[style*="height: 20px"] .event-time{
  margin-left: 2px;
  white-space: wrap;
  font-size: 8px;
}

.event-time {
  opacity: 0.9;
  white-space: wrap;
}
